@import "../bower_components/primer-css/scss/primer";
@import "../bower_components/spinkit/scss/spinners/7-three-bounce.scss";

.fixed {
  position: fixed;
}

.index__container {
  padding-top: 100px;
  text-align: center;
}

.index__logo {
  display: inline-block;
  font-size: 100px;
}

.index__logo-text {
  display: inline-block;
  margin-left: 15px;
  vertical-align: text-bottom;
}

.search-bar {
  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
  height: 55px;
  padding: 10px 0;
}

.search-bar-container {
  background-color: white;
  height: 75px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.search-bar__search-input {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 50px);
}

.search-bar__logo {
  color: $brand-gray-dark;
}

.search-bar__counter {
  border-right: 1px solid #d5d5d5;
  cursor: pointer;
  display: inline-block;
  margin: 5px 10px 5px 0;
  padding: 2px 5px 2px 0;
}

.search-bar__counter--last {
  border: 0;
}

.main-content {
  margin-top: 55px;
  padding-top: 20px;
  position: relative;
}

.profile {
  width: 250px;
}

.profile__full-name {
  font-size: 26px;
  font-weight: bold;
  line-height: 26px;
  margin-top: 5px;
}

.profile__username {
  font-size: 20px;
  font-weight: lighter;
  color: $brand-gray;
  margin-bottom: 15px;
}

.profile__section {
  border-top: 1px solid #eee;
  list-style: none;
  padding: 15px 0;

  .octicon {
    color: #cccccc;
    margin-right: 4px;
    width: 20px;
  }
}

.profile__detail {
  padding: 2px;
}

.profile__stat {
  float: left;
  width: 33.333%;
  font-size: 11px;
  text-align: center;

  &:hover {
    text-decoration: none;

    .text-muted {
      color: $brand-blue;
    }
  }
}

.profile__stat-count {
  font-size: 28px;
  font-weight: bold;
  display: block;
}

.contributions-container {
  margin-left: 25%;
}

.contributions-container__list,
.contributions-container__empty-list {
  margin-top: 60px;
}

.contributions-container__nav {
  background-color: white;
  width: 730px;
  z-index: 1;
}

.repo_item {
  padding: 30px 0;
  border-bottom: 1px solid #eee;

  &:first-child {
    padding-top: 0;
  }
}

.repo_item__stats {
  margin-top: 6px;
  float: right;
  font-size: 12px;
  font-weight: bold;
  color: #888888;

  a, a:link {
    color: #888888;
  }

  a:hover {
    color: $brand-blue;
    text-decoration: none;
  }
}

.repo_item__stat-item {
  margin-right: 5px;
}

.repo_item__name {
  font-weight: normal;
  margin: 0;
}
.repo_item__icon {
  color: #666666;
  float: left;
  margin-right: 10px;
  margin-top: 3px;
}

.repo_item__updated-at {
  margin: 0;
}

.repo_item__description {
  color: #666;
}

.pull-request-container {
  padding-top: 12px;
  margin-left: 20px;
}

.pull-request-container__link {
  display: inline-block;
  margin-bottom: 2px;
  padding-right: 3px;
  font-size: 15px;
  font-weight: bold;
  color: #333 !important;
  line-height: 1.2;
  word-break: break-word;
}

.not-found__icon {
  font-size: 100px;
}

.not-found__message {
  position: relative;
  top: calc(50% - 110px);
}

.not-found__container {
  height: calc(100vh - 75px);
  text-align: center;
}

.sk-spinner-three-bounce.sk-spinner.loading-container {
  margin: 0;
  margin-left: 145px;
  padding-top: 100px;
}
